USE [Event]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 10.05.2022 1:00:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Surname] [nvarchar](max) NOT NULL,
	[Firstname] [nvarchar](max) NOT NULL,
	[Patronymic] [nvarchar](max) NOT NULL,
	[Phone] [nvarchar](12) NULL,
	[Email] [nvarchar](max) NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Equipment]    Script Date: 10.05.2022 1:00:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Equipment](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Type] [int] NOT NULL,
	[Cost] [decimal](18, 2) NOT NULL,
	[CountInStorage] [int] NOT NULL,
	[CountOfRent] [int] NOT NULL,
	[Image] [varbinary](max) NULL,
 CONSTRAINT [PK_Equipment] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EquipmentRent]    Script Date: 10.05.2022 1:00:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EquipmentRent](
	[IDRent] [int] NOT NULL,
	[IDEquipment] [int] NOT NULL,
 CONSTRAINT [PK_EquipmentRent] PRIMARY KEY CLUSTERED 
(
	[IDRent] ASC,
	[IDEquipment] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rent]    Script Date: 10.05.2022 1:00:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rent](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDCustomer] [int] NOT NULL,
	[CountDay] [int] NULL,
	[Sum] [decimal](18, 2) NULL,
	[DateStart] [date] NULL,
 CONSTRAINT [PK_Rent] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypeEquipment]    Script Date: 10.05.2022 1:00:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeEquipment](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_TypeEquipment] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 10.05.2022 1:00:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[Access] [tinyint] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([ID], [Surname], [Firstname], [Patronymic], [Phone], [Email]) VALUES (1, N'Клочков', N'Павел', N'Аркадьевич', NULL, NULL)
INSERT [dbo].[Customer] ([ID], [Surname], [Firstname], [Patronymic], [Phone], [Email]) VALUES (2, N'Смирнов', N'Андрей', N'Владимирович', N'8930123123', NULL)
SET IDENTITY_INSERT [dbo].[Customer] OFF
GO
SET IDENTITY_INSERT [dbo].[Equipment] ON 

SET IDENTITY_INSERT [dbo].[Equipment] OFF
GO
INSERT [dbo].[EquipmentRent] ([IDRent], [IDEquipment]) VALUES (3, 3)
INSERT [dbo].[EquipmentRent] ([IDRent], [IDEquipment]) VALUES (4, 3)
INSERT [dbo].[EquipmentRent] ([IDRent], [IDEquipment]) VALUES (4, 4)
GO
SET IDENTITY_INSERT [dbo].[Rent] ON 

INSERT [dbo].[Rent] ([ID], [IDCustomer], [CountDay], [Sum], [DateStart]) VALUES (3, 1, 4, CAST(6000.00 AS Decimal(18, 2)), CAST(N'2022-05-10' AS Date))
INSERT [dbo].[Rent] ([ID], [IDCustomer], [CountDay], [Sum], [DateStart]) VALUES (4, 2, 3, CAST(8700.00 AS Decimal(18, 2)), CAST(N'2022-05-19' AS Date))
SET IDENTITY_INSERT [dbo].[Rent] OFF
GO
SET IDENTITY_INSERT [dbo].[TypeEquipment] ON 

INSERT [dbo].[TypeEquipment] ([ID], [Title]) VALUES (1, N'Генераторы эффектов')
INSERT [dbo].[TypeEquipment] ([ID], [Title]) VALUES (2, N'Сценическое оборудование')
INSERT [dbo].[TypeEquipment] ([ID], [Title]) VALUES (3, N'Сценические конструкции')
SET IDENTITY_INSERT [dbo].[TypeEquipment] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([ID], [Login], [Password], [Access]) VALUES (1, N'admin', N'admin', 0)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[Equipment] ADD  CONSTRAINT [DF_Equipment_Cost]  DEFAULT ((0)) FOR [Cost]
GO
ALTER TABLE [dbo].[Equipment] ADD  CONSTRAINT [DF_Equipment_CountInStorage]  DEFAULT ((0)) FOR [CountInStorage]
GO
ALTER TABLE [dbo].[Equipment] ADD  CONSTRAINT [DF_Equipment_CountOfRent]  DEFAULT ((0)) FOR [CountOfRent]
GO
ALTER TABLE [dbo].[Rent] ADD  CONSTRAINT [DF_Rent_CountDay]  DEFAULT ((0)) FOR [CountDay]
GO
ALTER TABLE [dbo].[Rent] ADD  CONSTRAINT [DF_Rent_Sum]  DEFAULT ((0)) FOR [Sum]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_Access]  DEFAULT ((0)) FOR [Access]
GO
ALTER TABLE [dbo].[Equipment]  WITH CHECK ADD  CONSTRAINT [FK_Equipment_TypeEquipment] FOREIGN KEY([Type])
REFERENCES [dbo].[TypeEquipment] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Equipment] CHECK CONSTRAINT [FK_Equipment_TypeEquipment]
GO
ALTER TABLE [dbo].[EquipmentRent]  WITH CHECK ADD  CONSTRAINT [FK_EquipmentRent_Equipment] FOREIGN KEY([IDEquipment])
REFERENCES [dbo].[Equipment] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EquipmentRent] CHECK CONSTRAINT [FK_EquipmentRent_Equipment]
GO
ALTER TABLE [dbo].[EquipmentRent]  WITH CHECK ADD  CONSTRAINT [FK_EquipmentRent_Rent] FOREIGN KEY([IDRent])
REFERENCES [dbo].[Rent] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EquipmentRent] CHECK CONSTRAINT [FK_EquipmentRent_Rent]
GO
ALTER TABLE [dbo].[Rent]  WITH CHECK ADD  CONSTRAINT [FK_Rent_Customer] FOREIGN KEY([IDCustomer])
REFERENCES [dbo].[Customer] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Rent] CHECK CONSTRAINT [FK_Rent_Customer]
GO
